body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange{
    color: orangered;
}
.justify{
    text-align: justify;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 10%;
}
.half-width img{
    width: 95%;
    padding-top: 10%;
}
.link-button{
    text-decoration: none;
background-image:linear-gradient(orangered, tomato) ;
    padding: 10px 40px;
    border-radius: 5%;
    color: white;
    font-weight: 500;
}
.top-side{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
#falt{
    color: rgb(255, 4, 180);
}
.flat-sell{
    margin-top: 80px;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.description{
    padding-top: 70px;
    background-image: url(image/exp-bg.png);  
    background-repeat: no-repeat;  
    background-position: left bottom;
}
.description-item{
    box-shadow: 10px 10px 40px gray;
    width: 45%;
    margin: 5%;
    border-radius: 5px;
padding-left: 10px;
padding-right: 10px;

}
#introduction{
    border-left: 7px solid;
    border-image: linear-gradient(orange, orangered);
    border-image-slice: 1;
}
#purpose{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(243, 6, 172), rgb(26, 248, 6));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}